/**
 * Font Family
 */
@font-face {
    font-family: NotoSerif;
    src: url('../fonts/NotoSerif-Regular.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: NotoSerif;
    src: url('../fonts/NotoSerif-Italic.ttf') format('truetype');
    font-style: italic;
}
@font-face {
    font-family: NotoSerif;
    src: url('../fonts/NotoSerif-Bold.ttf') format('truetype');
    font-weight: 700;
}
@font-face {
    font-family: NotoSerif;
    src: url('../fonts/NotoSerif-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.LayoutAlbumContent {
    display: inline-block;
    width: 100%;
    vertical-align: bottom;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 50px 0;
}

.LayoutAlbumWrapper .LayoutAlbumRow {
    margin-bottom: 4px !important;
    float: left;
    width: 100%;
}

.LayoutAlbumWrapper .LayoutAlbumItem {
    display: block;
    float: left;
    margin: 0 2px;
}

.spdcig-content .LayoutAlbumRow .LayoutAlbumItem {
    margin: 0 2px;
}

.LayoutAlbumWrapper .LayoutAlbumItem:last-of-type {
    margin-right: 0;
}

.LayoutAlbumWrapper .LayoutAlbumItem:first-child {
    margin-left: 0;
}

.LayoutAlbumItem a {
    border: 0;
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    border-bottom: none!important;
}

.LayoutAlbumWrapper img {
    display: block;
    max-width: 100%;
    transition: all .25s ease-in-out;
}

.article-title {
    padding: 0!important;
}
.article-title img {
    width: 100% !important;
    vertical-align: middle;
}

p {
    font-family: 'NotoSerif', sans-serif!important;
}
.sapo {
    margin-top: 30px;
}
.title {
    width: 100%;
    display: block;
    margin: 50px 0;
}
.copy-img {
    width: 100%;
    vertical-align: middle;
}
.container-width {
    max-width: 980px!important;
}
.copy-width {
    max-width: 660px!important;
}